<link rel="stylesheet" href="/css/sidebar.css">

<aside class="sidebar">
    <a href="/" class="logo-link" aria-label="ReciPin Home">
        <img class="logo" src="/resources/logo/Logo_cirkel.png" alt="ReciPin Logo">
    </a>

    <nav class="sidebar-nav">
        <button aria-label="Home"><i class="bi bi-house"></i></button>
        <button aria-label="Upload"><i class="bi bi-upload"></i></button>
        <button aria-label="Mijn Ingrediënten"><i class="bi bi-basket"></i></button>
    </nav>
</aside>

<script src="/js/sidebar.js" defer></script>