<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload your recipe/</title>
    <link rel="stylesheet" href="/css/upload.css">

</head>

<body>
    <div class="layout">
        <%- include('partials/sidebar') %>
            <div class="mainarea">
                <%- include('partials/searchbar') %>
                    <div class="upload-recipe">
                        <h2>Upload je Recept</h2>
                        <form action="/upload" method="POST" class="recipe-form">
                            <div class="form-image-upload">
                                <label for="image">Upload een afbeelding:</label>
                                <input type="file" id="image" name="image" accept="image/*" required>
                            </div>
                            <div class="form-recept-naam">
                                <label for="title">Recipe naam:</label>
                                <input type="text" id="title" name="title" required>
                            </div>
                            <div class="form-ingredienten-lijst">
                                <label for="body">Ingredienten lijst:</label>
                                <input type="body" id="body" name="body" required>
                            </div>
                            <div class="form-instructies">
                                <label for="body">Instructies:</label>
                                <textarea id="body" name="body" required></textarea>
                            </div>
                            <div class="form-post-knop">
                                <button type="submit">Upload</button>
                            </div>
                        </form>
                    </div>
            </div>
    </div>
</body>

</html>