<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload your recipe/</title>
    <link rel="stylesheet" href="/css/upload.css">
    <script src="/js/upload.js" defer></script>

</head>

<body>
    <div class="layout">
        <%- include('partials/sidebar') %>
            <div class="mainarea">
                <%- include('partials/searchbar') %>
                    <div class="upload-recipe">
                        <h2>Upload je Recept</h2>
                        <form action="/upload" method="POST" class="recipe-form" enctype="multipart/form-data">
                            <div class="form-image-upload">
                                <input type="file" id="image" name="image" accept="image/*" hidden>
                                <label for="image" class="custom-file-button">
                                    <i class="bi bi-upload"></i>
                                    Kies een afbeelding
                                </label>
                                <div id="image-preview" class="image-preview" style="display:none;">
                                    <img id="preview-img" src="" alt="Preview">
                                    <button type="button" id="remove-image" class="remove-image">&times;</button>
                                    <!--&times; is min symbool-->
                                </div>
                                <span id="file-status">Geen bestand geselecteerd</span>

                            </div>
                            <div class="form-recept-naam">
                                <label for="title">Recipe naam:</label>
                                <input type="text" id="title" name="title" required>
                            </div>
                            <div class="form-ingredienten-lijst">
                                <label for="ingredients">Ingrediënten lijst:</label>
                                <input type="text" id="ingredients" name="ingredients" required>
                            </div>
                            <div class="form-instructies">
                                <label for="steps">Instructies:</label>
                                <textarea id="steps" name="steps" required></textarea>
                            </div>
                            <div class="form-post-knop">
                                <label for="body">Post</label>
                                <button type="submit" class="submit-button">
                                    <i class="bi bi-plus"></i><br>
                                </button>
                            </div> 
                        </form>
                    </div>
            </div>
    </div>
</body>

</html>