body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fafafa;
}

/* Searchbar / Topbar */
body.dark-mode .topbar input,
body.dark-mode .searchbar {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #e0e0e0;
}

body.dark-mode .searchinput {
    background-color: #1e1e1e;
    border: 2px solid #333;
    color: #e0e0e0;
}

body.dark-mode .searchinput:focus {
    border-color: #4cb0e2;
}


.searchbar {
    background-color: #fff;
    padding: 0.75rem;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchform {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.searchinput {
    padding: 8px 12px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    transition: border 0.2s;
    padding-left: 8px;
    padding-right: 10px;
}

.searchinput:focus {
    border-color: #4cb0e2;
}

.topbar input {
    width: 60%;
    max-width: 600px;
    padding: 0.75rem;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.searchbar a:first-of-type {
    margin-left: 30px;
    margin-right: 50px;
}