/* Sidebar Styling */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 24px 8px;
    background-color: #ffffff;
    gap: 24px;
    padding: 20px;
}

.sidebar-top {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.logo-link:hover {
    background-color: #e4e6eb;
}

.logo {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* Circular buttons */
    color: #65676b;
    font-size: 24px;
    transition: all 0.2s ease;
}

.nav-item:hover {
    background-color: #e4e6eb;
    color: #1f1f1f;
}

.nav-item.active {
    color: #1f1f1f;
    background-color: #e4e6eb;
}

.nav-item i {
    display: flex;
    text-decoration: none;
}

a {
    text-decoration: none;
}

body.dark-mode .logo-link:hover,
body.dark-mode .nav-item:hover {
    background-color: #1e1e1e;
}



.sidebar-container {
    flex-shrink: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}


.layout {
    display: flex;
    height: 100vh;
    width: 100%;
}



.mainarea {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow-y: auto;
    position: relative;
}


body.dark-mode .sidebar {
    background-color: #121212;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}


body.dark-mode .layout {
    background-color: #121212;
}


body.dark-mode a {
    text-decoration: none;
    transition: color 0.2s ease;
}

body.dark-mode a:hover {
    color: #6fc0ff;
}